# Node.js
**/node_modules/
/package-lock.json

# TypeScript
**/*.d.ts
**/*.d.ts.map
**/*.js
**/*.js.map
**/tsconfig.tsbuildinfo

# Build artifacts
dist/
out/
playwright-report/
test-results/
# nix build
result

# Ignore direnv output
.direnv/

# vim
**/*.swp
