# Node.js
**/node_modules/

# TypeScript
**/*.d.ts
**/*.d.ts.map
**/*.js
**/*.js.map
**/tsconfig.tsbuildinfo

# Build artifacts
dist/
out/
# nix build
result

# Ignore direnv output
.direnv/

# vim
**/*.swp
