@font-face {
    font-family: "MuseoModerno";
    src: url(/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.font-modern {
    font-family: "MuseoModerno", sans-serif;
}

#name {
    color: #f0f0f0;
}

canvas {
    position: fixed;
    display: block;
    top: 0px; left: 0px;
}

#static-canvas {
    z-index: -2;
}
#main-canvas {
    z-index: -1;
}

body {
    background: none;
    color: #eee;
    font-family: monospace;
    margin: 1.5rem;
}

a {
    text-decoration: 1.5px underline #b8360f;
    color: #eee;
}

a:visited {
    text-decoration-color: #591f0d;
    color: #727272;
}

/*
* {
    outline: 1px solid red;
}
*/

