@font-face {
    font-family: "MuseoModerno";
    src: url(/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.font-modern {
    font-family: "MuseoModerno", sans-serif;
}

* {
    outline: 1px solid red;
}

#main-canvas {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
}

